#time{
    
}

svg{
    max-width: 200px;
    /* margin-left: 200px; */
    margin: auto;
    text-align: center;
}

svg circle{
    /* text-colo: rgb(255, 142, 142); */
    /* height:250px;
    width:250px; */
    /* border:2px solid #000; */
    /* border-radius: 50%; */
    /* padding:20px;  */
    fill: aquamarine;
    stroke:rgb(255, 142, 142);
    stroke-width:20.6871;
    stroke-miterlimit:10;
}

svg text {
    font-size: 20px;
    fill:rgb(255, 142, 142);
}