
*{
    padding: 0; 
    margin: 0;
}

.hourZone, .minZone, .secZone{
    display: inline-block;
}

#start, #reset, #pause{
    width: 100px;
    border-radius: 5px;
}
#start{
    background: #2a93da;
    border: 2px solid #2a93da;
}

form{
    margin: 50px 100px;
}

select{
    border-radius: 10px;
    border: 2px solid #2a93da;
    width: 150px;
}


svg{
    display: block;
    max-width: 400px;
    margin: auto;
}

svg circle{
    fill: aquamarine;
    stroke:rgb(255, 142, 142);
    stroke-width:20.6871;
    stroke-miterlimit:10;
}

svg text {
    font-size: 20px;
    fill:rgb(255, 142, 142);
}